@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="LoginForm">
    <p> User or Password Does not Match try again </p>
    <input type="text" id="SName" name="SUname" placeholder="User Name" />
    <input type="password" id="SPass" name="SPassword" placeholder="Password" />
    <button type="button" id="SubmitButton" onclick="performAuth()">Submit</button>

</div>


